In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
with open('DATA/One.txt') as mytext:
    #a = mytext.readlines()
    a = mytext.read()

#a = mytext.readlines()

a 

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [11]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [12]:
a.lower().split() #convert to lowercase and split word for word into list

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [14]:
#building out a vocabulary.
with open('DATA/One.txt') as mytext:
    words_one = mytext.read().lower().split()
    unique_words_one = set(words_one)

In [15]:
unique_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [17]:
with open('DATA/Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    unique_words_two = set(words_two)

In [18]:
all_unique_words = set()
all_unique_words.update(unique_words_one)

In [19]:
all_unique_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [20]:
all_unique_words.update(unique_words_two)

In [21]:
all_unique_words #contains all unique words accross documents.

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [23]:
full_vocabulary = dict()
i = 0 

for word in all_unique_words:
    full_vocabulary[word] = i
    i = i+1

In [24]:
full_vocabulary

{'pets': 0,
 'sport': 1,
 'about': 2,
 'fun': 3,
 'waves': 4,
 'catching': 5,
 'surfing': 6,
 'is': 7,
 'furry': 8,
 'story': 9,
 'canine': 10,
 'dogs': 11,
 'a': 12,
 'water': 13,
 'animals': 14,
 'our': 15,
 'popular': 16,
 'this': 17,
 'are': 18}

In [25]:
one_freq = [0]*len(full_vocabulary)
two_freq = [0]*len(full_vocabulary)
all_words = ['']*len(full_vocabulary)

In [26]:
with open('DATA/One.txt') as f:
    one_txt = f.read().lower().split()

In [33]:
# loop to count frequency of words
for word in one_txt:
    word_index = full_vocabulary[word]
    one_freq[word_index] += 1

In [34]:
one_freq

[1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1]

In [35]:
with open('DATA/Two.txt') as f:
    two_txt = f.read().lower().split()

In [36]:
two_txt

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [37]:
# loop to count frequency of words
for word in two_txt:
    word_index = full_vocabulary[word]
    two_freq[word_index] += 1

In [38]:
two_freq

[0, 1, 1, 1, 1, 1, 2, 3, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0]

In [39]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [41]:
for word in full_vocabulary:
    word_index = full_vocabulary[word]
    all_words[word_index] = word

In [42]:
all_words

['pets',
 'sport',
 'about',
 'fun',
 'waves',
 'catching',
 'surfing',
 'is',
 'furry',
 'story',
 'canine',
 'dogs',
 'a',
 'water',
 'animals',
 'our',
 'popular',
 'this',
 'are']

In [46]:
bow = pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [48]:
bow #FREQUENCY COUNT OF ALL WORDS IN MODEL

,pets,sport,about,fun,waves,catching,surfing,is,furry,story,canine,dogs,a,water,animals,our,popular,this,are
0,1,0,1,0,0,0,0,1,1,1,1,2,1,0,1,1,0,1,1
1,0,1,1,1,1,1,2,3,0,1,0,0,1,1,0,0,1,1,0